.logo {

        font-family: "Playpen Sans", cursive;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        text-align: center;
        color: whitesmoke; 
}
.root {
    background-color: palevioletred;
    
}